@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
* {
  box-sizing: border-box;
}
body {
  background-color: steelblue;
  font-family: "Muli", sans-serif;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 50px 35px;
  border-radius: 5px;
}

.container h1 {
  font-family: "Roboto Condensed", sans-serif;
  letter-spacing: 2px;

  margin-bottom: 35px;
  text-align: center;
}
.container a {
  text-decoration: none;
  color: lightskyblue;
}
.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300;
}
.form-control input {
  background-color: transparent;
  border: none;
  border-bottom: 1.5px #fff solid;
  display: block;
  width: 100%;
  padding: 2px;
  font-size: 16px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.button {
  cursor: pointer;
  width: 100%;
  background-color: lightskyblue;
  padding: 5px;
  font-family: inherit;
  font-size: medium;
  font-weight: bold;
  color: rgb(57, 61, 65);
  border: 0;
  border-radius: 5px;
}

.button:hover {
  outline: none;
  opacity: 0.8;
}
.button:active {
  transform: scale(0.94);
}

.text {
  margin-top: 30px;
<<<<<<< HEAD
}
=======
 }
>>>>>>> 4a086f82f2b6593884827f86c82d799d99c0e941

.container a:hover {
  opacity: 0.7;
}

.form-control label {
  position: absolute;
  top: -5px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  color: lightblue;
  transform: translateY(-20px);
}
.form-control a {
  display: block;
  margin: inherit;
}
